<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team19.cs2340"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.team19.cs2340.WelcomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.team19.cs2340.LogInActivity"
            android:label="@string/title_activity_log_in"
            android:parentActivityName="com.team19.cs2340.WelcomeScreen"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team19.cs2340.WelcomeScreen" />
        </activity>
        <activity
            android:name="com.team19.cs2340.HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:parentActivityName="com.team19.cs2340.WelcomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team19.cs2340.WelcomeScreen" />
        </activity>
        <activity
            android:name="com.team19.cs2340.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName="com.team19.cs2340.WelcomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team19.cs2340.WelcomeScreen" />
        </activity>
        <activity
            android:name="com.team19.cs2340.AccountCreationActivity"
            android:label="@string/title_activity_account_creation"
            android:parentActivityName="com.team19.cs2340.HomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team19.cs2340.HomeScreenActivity" />
        </activity>
        <activity
            android:name="com.team19.cs2340.TransactionListActivity"
            android:label="@string/title_activity_transaction_list"
            android:parentActivityName="com.team19.cs2340.HomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team19.cs2340.HomeScreenActivity" />
        </activity>
        <activity
            android:name="com.team19.cs2340.TransactionCreationActivity"
            android:label="@string/title_activity_transaction_creation"
            android:parentActivityName="com.team19.cs2340.TransactionListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team19.cs2340.TransactionListActivity" />
        </activity>
        <activity
            android:name="com.team19.cs2340.SpendingReportActivity"
            android:label="@string/title_activity_spending_report"
            android:parentActivityName="com.team19.cs2340.HomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team19.cs2340.HomeScreenActivity" />
        </activity>
        <activity
            android:name="com.team19.cs2340.AdminScreenActivity"
            android:label="@string/title_activity_admin_screen"
            android:parentActivityName="com.team19.cs2340.WelcomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team19.cs2340.WelcomeScreen" />
        </activity>
        <activity
            android:name="com.team19.cs2340.PasswordChangeActivity"
            android:label="@string/title_activity_password_change"
            android:parentActivityName="com.team19.cs2340.AdminScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team19.cs2340.AdminScreenActivity" />
        </activity>
    </application>

</manifest>
